body {
    background-color: whitesmoke;
    margin-top: 0px;
    padding: 10px;
}

.td-center {
    text-align: center;
}

.td-right {
    text-align: right;
}

.td-va-top {
    vertical-align: top;
}
.table-button {

}

.table-button td {
    padding-top: 10px;
    padding-right: 10px;
}

.table-edit {
    padding: 1px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 2px;
    vertical-align: middle;
}

.text-red {
    color: red;
}

textarea {
    resize: vertical;
    rows: 10;
}

.ie-index {
    width: 1em;
    text-align: right;
}
.ie-name {
    width: 12em;
}
.ie-quantity {
    width: 3em;
    text-align: right;
}

.ie-unit {
    width: 3em;
    text-align: right;
}

.ie-price {
    width: 5em;
    text-align: right;
}

.ie-discount {
    width: 2em;
    text-align: right;
}

.ie-pkwiu {
    width: 7em;
    text-align: center;
}

.ie-vat {
    width: 2em;
    text-align: right;
}

.ie-dates {
    width: 10em;
}

.ie-house, .ie-flat {
    width: 3em;
}

.hide {
    visibility: hidden;
}

.panel {
    background-color: #f2f2f2 !important;
    border-color: #999999 !important;
}

.table-pdf {

}

.table-pdf td {
    padding-top: 2px;
    padding-right: 10px;
}

.panel-pdf {
    background-color: white !important;
    border-color: #999999 !important;
}